<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
    <div class="filter"></div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">新規会員登録</h3>
            <div class="social-line text-center">
              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon" [routerLink]="['/coming-soon']">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon" [routerLink]="['/coming-soon']">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon" [routerLink]="['/coming-soon']">
                <i class="fa fa-twitter"></i>
              </a>
            </div>



            <form class="register-form" #registerForm="ngForm" (ngSubmit)="register(registerForm)">

              <label>お名前</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-single-02"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="お名前" ngModel input="name" name="name" required>
              </div>

              <label>メールアドレス</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                </div>
                <input type="email" class="form-control" placeholder="メールアドレス" ngModel input="name" name="email"
                  pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
              </div>

              <label>パスワード</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="パスワード(6文字以上)" ngModel input="name"
                  name="password" minlength="6" required>
              </div>

              <label>パスワード確認</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="パスワード確認" ngModel input="name"
                  name="confirmPassword" minlength="6" required>
              </div>

              <button class="btn btn-danger btn-block btn-round" type="submit"
                [disabled]="!registerForm.valid">登録</button>
            </form>

            <!-- && errors.length>0 -->
            <div *ngIf="errors && errors.length">
              <br>
              <p *ngFor="let error of errors" class="alert alert-info">
                {{error.detail}}
              </p>
            </div>
            <div class="forgot">
              <a [routerLink]="['/login']" class="btn btn-link btn-danger">ログインはこちら</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <!-- <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6> -->
      </div>
    </div>
  </div>
</div>
